.btn {
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  border-style: solid;
  background-color: #d0f3e8;
  border-color: #d0f3e8;
  margin: 0 3px;
}

.home-base-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-base-container .user-info-area {
  margin: 8px;
  font-size: 16px;
}

.login-page-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-wrapper .taki-logo {
  width: 250px;
  margin: 16px 0;
}

.login-page-wrapper .username-label {
  margin: 0 5px;
  font-size: 18px;
}

.login-page-wrapper .username-input {
  font-size: 16px;
  line-height: 16px;
  margin: 1px;
  border: 1px solid #ccc;
}

.login-page-wrapper .submit-btn:hover {
  background-color: #cadcff;
  border-color: #cadcff;
}

.login-page-wrapper .login-error-message {
  color: red;
  font-weight: 600;
}

.chat-contaier {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2vh;
  height: 24vh;
  width: 50vh;
}

.chat-contaier .converssion-area-wrpper {
  border: 1px solid #ccc;
  height: 14vh;
}

.chat-contaier .converssion-area-wrpper p {
  margin: 0 0 8px 0;
}

.chat-contaier .chat-input-wrapper {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
}

.chat-contaier .chat-input-wrapper input {
  line-height: 16px;
  font-size: 16px;
  margin: 1px;
  height: 48px;
  padding: 8px;
  box-sizing: border-box;
  flex-grow: 1;
}

.chat-contaier .chat-input-wrapper .btn {
  flex-grow: 0;
  width: 88px;
  margin: 0 2px 0 5px;
}
